<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Todo APP</a>
</nav>
<div class="container mt-4">
  <h3>Todos</h3>
  <hr /> <!-- separador -->
  <form [formGroup]="form" (ngSubmit)="submit()">   <!-- esta propriedade "form" é a variável que criamos no app.component. O evento ngSubmit para submeter o formulário que vai receber nosso método de submit -->
    <div class="row">
      <div class="col-md-6"> 
        <input type="text" class="form-control" formControlName="description">    <!-- qual nome do formControl deste formGroup que vai representar este campo de texto  -->
      </div>  <!-- definimos uma linha (row) em que cada linha tem 12 posições e dentro dessa linha de 12 posições, colocamos uma coluna com 6 posições   -->
      <div class="col-md-2">
        <button type="submit" [disabled]="!form.get('description').valid" class="btn btn-primary">Add</button>  <!-- Vai estar desabilitado o botão quando o form control for inválido, não esquecer no button colocar o type para submit -->
      </div>
    </div>
  </form>
  <hr />
  <div class="row">
    <div class="col-md-7">
      <ul class="list-group">
        <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">  <!-- Cada li desse tem que ser um elemento novo/um todo novo que adicionarmos -->
          <span class="{{ todo.done ? 'done' : '' }}">
            {{ todo.description }} - Finalizado dia: {{ todo.doneDate }}
          </span>
          <div class="btn-group">
            <button class="btn btn-success" [disabled]="todo.done" (click)="done(todo)">Done</button>
            <button class="btn btn-danger ml-1" (click)="delete(todo)">Delete</button>    <!-- (eventBinding). Recebe como parâmetro o Todo -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>